#container {
 
              
font-size: 11px;
 
}


#banner {
background-image:url(images/bg.jpg); 
 background-repeat: none;

    
    width: 100%;
    margin: 0 auto;
}

#logoleft {

}     

body { 
  background-color: #474d67;
  /*font-family:      Georgia, "Times New Roman", Times, serif; */
font-family: 'Open Sans', sans-serif; 
 font-size:        small;
  line-height: 150%;
}


h1 {
 font-size:        120%;
 color:         #128484;
}

/*Bottom sticky footer*/
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
    } 

/*Bottom sticky footer block end*/

#footerblock {
  background-color: black;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;

}












/*anchor link stuff*/

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    none;
}
a:visited {
  color:            black;
  text-decoration:  none;
  border-bottom:    none;
}

a:hover {
  color:            brown;
  text-decoration:  none;
  background-color: none;
  border-bottom:    none;

}


#texts a:visited {
color: #660099;
}


#texts a:hover {
color: black;
}
#texts a:link {
color: #660099;
}


/*anchor link stuff ends*/







/*Main text(s) start*/




#toptext
{
background-color: #efe5d0;
  vertical-align:   top;
  padding: 10px;
padding-left: 30px;
padding-right: 30px;


border-top: solid;
border-left: solid;
border-right: solid;
border-bottom: none;
border-width:1px;
margin-left: 15%;
margin-right: 15%;
    
}
